// Fonts
// @font-face {
//     font-family: "Baloo 2";
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/baloo2/v2/wXKrE3kTposypRyd51jcAA.woff2) format("woff2");
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+000 #000d;
// }
// @font-face {
//     font-family: "Poppins";
//     font-style: normal;
//     font-weight: 100;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// font-family: 'Baloo 2', cursive;
// font-family: 'Poppins', sans-serif;
// $yellow: #ffde59;
$yellow: #fcd641;
$blue: #00cdff;
$green: #00ffa1;
$red: #ff002f;
* {
    margin: 0px;
    border: none;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    //  ::-webkit-scrollbar {
    //     width: 0px;
    // }
}

body {
    overflow: hidden;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin display-flex($direction, $content, $align) {
    display: flex;
    align-items: $align;
    justify-content: $content;
    flex-direction: $direction;
}

@mixin color($bgcolor, $color, $border) {
    background-color: $bgcolor;
    color: $color;
    border: $border;
}

@mixin font($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

header {
    @include size(100vw, 100px);
    @include display-flex(row, center, center);
    position: fixed;
    z-index: 1000;
    .container {
        @include size(90vw, 100%);
        @include display-flex(row, space-between, center);
        figure {
            @include size(150px, 100px);
            cursor: pointer;
            img {
                @include size(110px, 100px);
                transition: 0.5s;
            }
        }
        p {
            @include size(150px, auto);
            @include display-flex(row, center, center);
            font-family: "Poppins", sans-serif;
            font-size: 1.1rem;
            font-weight: 600;
            color: $yellow;
            span {
                border-bottom: 1px solid #fcd64199;
                cursor: pointer;
            }
        }
    }
}

nav {
    z-index: 1500;
    position: absolute;
    ul {
        @include size(20px, 100px);
        @include display-flex(column, center, center);
        position: fixed;
        right: 25px;
        top: 45%;
        // cursor: pointer;
        li {
            @include size(10px, 10px);
            @include display-flex(row, center, center);
            background-color: #a58400cc;
            margin: 5px 0px;
            border-radius: 50%;
            cursor: pointer;
            span {
                @include size(60%, 60%);
                border-radius: 50%;
                color: transparent;
            }
        }
    }
}

.arrow {
    @include size(70px, 70px);
    @include display-flex(column, center, center);
    display: flex;
    position: absolute;
    left: 47, 5%;
    top: 85%;
    @include color(rgba(30, 30, 30, 0.3), $yellow, null);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
    span {
        display: block;
        padding-bottom: 5px;
        font-size: 50px;
        transform: rotate(90deg);
    }
}

main {
    @include size(100vw, 100vh);
    @include display-flex(row, center, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("/img/main1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .container {
        @include size(70vw, 100%);
        @include display-flex(row, flex-start, center);
        padding: 70px 0px 0px 0px;
        cursor: default;
        h1 {
            @include size(80%, auto);
            font-family: "Poppins";
            font-size: calc(1.1rem + 1vw);
            font-weight: 500;
            color: $yellow;
            letter-spacing: 2px;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
            span {
                display: block;
                margin: 15px auto;
            }
        }
    }
}

.step1 {
    @include size(100vw, auto);
    min-height: 100vh;
    @include display-flex(row, center, center);
    position: relative;
    background-color: #eee;
    overflow: hidden;
    .container {
        @include size(80vw, auto);
        min-height: 100vh;
        @include display-flex(column, center, center);
        padding: 50px 0px 150px 0px;
        #reformas {
            @include size(75%, auto);
            min-width: 400px;
            @include display-flex(column, baseline, center);
            margin-bottom: 40px;
            h1 {
                @include font("Poppins", 1.3rem, 500);
                text-align: center;
                margin: 15px 0px;
                color: #333;
            }
            h1::before {
                content: "";
                position: relative;
                background-color: $yellow;
                height: 3px;
                width: 160px;
                display: flex;
                margin: 0px auto;
            }
            h1::after {
                content: "";
                position: relative;
                background-color: $yellow;
                height: 3px;
                width: 160px;
                display: flex;
                margin: 0px auto;
            }
            p {
                @include font("Poppins", null, null);
                color: #111;
                text-align: justify;
                span {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
        #instalacoes {
            @include size(80vw, auto);
            @include display-flex(row, center, center);
            column-gap: 35px;
            flex-wrap: wrap;
            div {
                @include size(30%, auto);
                min-width: 400px;
                @include display-flex(column, center, center);
                h1 {
                    @include font("Poppins", 1.3rem, 500);
                    margin: 15px 0px;
                    color: #333;
                }
                h1::before {
                    content: "";
                    position: relative;
                    background-color: $yellow;
                    height: 3px;
                    width: 160px;
                    display: flex;
                    margin: 0px auto;
                }
                h1::after {
                    content: "";
                    position: relative;
                    background-color: $yellow;
                    height: 3px;
                    width: 160px;
                    display: flex;
                    margin: 0px auto;
                }
                p {
                    @include font("Poppins", null, null);
                    color: #111;
                    text-align: justify;
                    span {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }
            b {
                @include size(auto, 200px);
                border-left: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.step2 {
    @include size(100vw, 100vh);
    @include display-flex(column, center, center);
    position: relative;
    .container {
        @include size(70vw, 100vh);
        @include display-flex(row, space-around, center);
        div {
            @include size(100%, 100%);
            @include display-flex(column, center, center);
            font-family: "poppins";
            h1 {
                @include size(90%, auto);
                font-size: calc(1.1em + 1vw);
                color: $yellow;
                span {
                    @include size(auto, auto);
                    border-bottom: 1px solid $yellow;
                }
            }
            ul {
                @include size(90%, auto);
                list-style: none;
                font-size: calc(0.7em + 1vw);
                color: $yellow;
                margin-top: 10px;
            }
            li {
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.step3 {
    @include size(100vw, 100vh);
    @include display-flex(column, center, center);
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("/main3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container {
        @include size(70vw, 100vh);
        @include display-flex(row, flex-start, center);
        div {
            @include size(350px, auto);
            overflow: hidden;
            font-family: "baloo 2";
            color: $yellow;
            h1 {
                font-size: calc(1em + 1vw);
                font-weight: 600;
            }
            p {
                font-size: calc(0.55em + 1vw);
                a {
                    color: $yellow;
                }
            }
            .form {
                @include size(100%, 100%);
                @include display-flex(column, center, center);
                fieldset {
                    border: none;
                    position: relative;
                }
                legend {
                    font-size: 15px;
                    visibility: hidden;
                    position: relative;
                    top: 20px;
                    left: 17px;
                    color: #000;
                    font-family: "baloo 2";
                    span {
                        color: $red;
                    }
                }
                input {
                    width: 100%;
                    height: 35px;
                    margin: 5px auto;
                    outline: none;
                    // border: 1px solid $yellow;
                    padding-left: 10px;
                    background-color: rgba(255, 255, 255, 0.7);
                    &::placeholder {
                        font-family: "baloo 2";
                        font-size: 1rem;
                        color: #000;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                        transition: 0.4s;
                    }
                    &:not(:focus) {
                        transition: 0.4s;
                    }
                    &:focus ~ legend {
                        color: #000;
                        visibility: visible;
                        top: 0px;
                        left: 5px;
                        transition: 0.5s;
                    }
                    &:focus::placeholder {
                        visibility: hidden;
                        transition: 0.1s;
                    }
                    &:valid {
                        border-bottom: 1px solid rgba(0, 255, 0, 0.5);
                        box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
                    }
                    &:valid ~ legend {
                        color: rgba(0, 255, 0, 0.9);
                        visibility: visible;
                        top: 0px;
                        left: 5px;
                        transition: 0.5s;
                        span {
                            color: rgba(0, 255, 0, 0.9);
                        }
                    }
                    &:focus:valid {
                        box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
                    }
                    &:not(:placeholder-shown):invalid {
                        border-bottom: 1px solid rgba(255, 0, 0, 0.5);
                        box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
                    }
                    &:focus:valid ~ legend {
                        color: rgba(0, 255, 0, 0.7);
                    }
                    &:not(:placeholder-shown):invalid ~ legend {
                        color: rgba(255, 0, 0, 0.9);
                        visibility: visible;
                        top: 0px;
                        left: 5px;
                        transition: 0.5s;
                    }
                    &:focus:not(:placeholder-shown):invalid {
                        box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
                    }
                    &:focus:not(:placeholder-shown):invalid ~ legend {
                        color: rgba(255, 0, 0, 0.9);
                    }
                }
                textarea {
                    width: 100%;
                    height: 100px;
                    margin: 15px auto 0px;
                    outline: none;
                    // border: 1px solid $yellow;
                    padding-left: 10px;
                    padding-top: 5px;
                    font-size: 1rem;
                    font-family: "baloo 2";
                    background-color: rgba(255, 255, 255, 0.7);
                    resize: none;
                    &::placeholder {
                        font-family: "baloo 2";
                        font-size: 1rem;
                        color: #000;
                    }
                    &:focus {
                        border: 1px solid;
                        outline: none;
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                        transition: 0.4s;
                    }
                    &:not(:focus) {
                        transition: 0.4s;
                    }
                }
                input[type="submit"] {
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.7);
                    color: #000;
                    // border: 1px solid $yellow;
                    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
                    font-family: "baloo 2";
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    @include size(100vw, 100vh);
}
